

.card {
  background: #404090;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-align: center;
  font-family: sans-serif;
  padding: 0px;
  
  max-width: 392px;
  flex: 1 1 300px;
}

.card-header {
  background: #404090;
  padding: 0px;
  border-bottom: 1px solid #e2e8f0;
}

.card-header h2 {
  margin: 0;
  font-size: 1.25rem;
  color: white;
}

.card-body {
  padding: 0px;
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  
}

.data-table td {
  padding: 0px;
  border-bottom: 1px solid #ececec;
  
  white-space: nowrap;
}

.card-footer {
  background: #404090;
  padding: 0px;
  border-top: 1px solid #e2e8f0;
  text-align: right;
  font-size: 0.85rem;
  color: #666;
  text-align: center;
}

