:root {
  --background: #202030;
  --foreground: #171717;
  
  --main1: #202030;
  --main2: #303050;
  --main3: #242438;
  --main4: #282840;
  --main5: #404090;
  --main6: #6060a0;
  --main7: #c0c0e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202030;
    --foreground: #ededed;
  }
}

body, html {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
  justify-content: center;
  align-items: center;
}

.content-nav {
  background-color: #242438;

  max-width: 824px;
  min-width: 759px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 8px 8px 0 0;
  box-shadow: 1px -1px 6px 2px #181820;
}

.footer {
  background-color: #242438;
  max-width: 800px;
  min-width: 735px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 1px 2px 6px 2px #181820;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > *:not(button) {
  display: inline-block;
  position: relative;
  padding-right: 6px;
}
.footer > *:not(button)::before {
  content: "⁃";
  margin-right: 6px;
  color: #38384a;
}

.content {
  background-color: #303050;
  max-width: 800px;
  min-width: 735px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 3px 6px 2px #181820;
  padding: 12px;
  
  overflow: hidden;

}

.spinner {
  border-width: 4px;
  border-top-width: 4px;
  border-color: #202030;
  border-top-color: #404090;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: spin 1s linear infinite;
  margin:30px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sep {
  margin: 12px 0px 12px 0px;
  border-top: 1px solid #585880;
}
.sep2 {
  margin: 12px 10px 10px 10px;
  border-left: 1px solid #585880;
  height: 20px;
}

.table-container {
  padding: 10px;
  text-align: center;
  position: relative;
}

.table {
  color : var(--main1);
  background-color: var(--main7);
  width: 100%;

  border-spacing: 0;
  border-color: #303050;
  border: 1px solid #171717;
}
.table-body {
  color : var(--main1);
  background-color: var(--main7);

  table-layout: fixed;
  border-spacing: 0;
  border-color: #303050;
  border: 1px solid #171717;

  position: relative;
  height: 800px;
}
.vList {
  scrollbar-width: none;
  -ms-overflow-style: none;
  height:100%;
}

.vList div {
  transition: height 0.3s ease;
}


.table th {
  background-color: #303050;
  color: #e5e7eb;
  cursor: default;
}

.vList tr {

  transition: background-color cubic-bezier(0, 0.52, 1, 1) 1.25s;
  transition: border-bottom cubic-bezier(0, 0.52, 1, 1) 1.25s;

  font-size: 15px;
  align-content: center !important;
  transition: height 5.3s ease;
}
.vList tr:hover {
  background: #404090;
  color: white;
  transition-duration: 100ms;
  border: 1px dotted #FFFF00;
}

.vList td:nth-child(1), .vList td:nth-child(2), .vList td:nth-child(8) {
  width:50px;
}

.vList td:nth-child(6), .vList td:nth-child(7), .vList td:nth-child(8){
  width:25px;
  max-width:25px;
}
.vList td:nth-child(3){
  width:200px;
}
.vList td:nth-child(4), .vList td:nth-child(5){
  width:100px;
}



.obsolete td:not(.Notes) {
  opacity: 50%;

}

.style-acE {
  color: #e62727;
  font-weight: bold;
}

.style-goofbrush {
  color: #215a6c;
  font-weight: bold;
}


.Platform, .Pod, .Notes, .hoverParent {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color:transparent;
  white-space: nowrap;
  overflow: hidden;
}
/* .Position {
  color:black;
} */


.hoverChild {
  color: black;
  opacity: 100% !important;
  position: absolute;
  top: 115%;
  left: 50%;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 9999;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.popupBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  
  animation: fade-in 0.3s;
}

.popupContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #303050;
  padding: 20px;
  z-index: 10000;
  border-radius: 8px;
}

@keyframes nonLinearTransition {
  0% { color: transparent; }
  20% { color: transparent; }
  100% { color: #c2c2c2; }
}

input {
  -webkit-appearance: none;
  width:100%;
  height: 8px;
  border-radius: 4px;
  background: #484880;


}

button, select {
  background-color: #282840;
  color: #c2c2c2;
  clip-path: inset(-1% -1% -1% -1%); /* stops text clipping when rescaling disabled buttons */
  
  height: 23px;
  width: auto;
  padding: 0px 10px;
  margin: 5px;
  font-size: 14px;
  text-indent: -1px;

  border: 1px solid #484880;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

select {
  color: white;
  text-shadow: 3px 3px 3px black;
  transition: all 0.3s ease
}
select:disabled {
  color: gray;
}
option {
  zoom: 0.85;
}

button:enabled:hover {
  color: white;
  background-color: #303054;
  text-shadow: 3px 3px 3px black;
}


.stateButtons button.active {
  color: white !important;
  background-color: #404090;
  text-shadow: 3px 3px 3px black;
}
.stateButtons button.left {
  margin-right: 0px;
  border-right: 0px;
  border-radius: 2px 0px 0px 2px;
}
.stateButtons button.right {
  margin-left: 0px;
  border-radius: 0px 2px 2px 0px;
}
.stateButtons button.center {
  margin: 0px;
  border-right: 0px;
  border-radius: 0px;
}

button:disabled:not(.active) {
  text-indent: -90px;
  
  background-color: #282840;
  color: transparent !important;
  text-shadow: none !important;
  transition: color 0.0s ease;
  white-space: nowrap;
  
  transition: all 0.3s ease;
}
button:disabled.active {
  color: #c2c2c2 !important;
  text-decoration: line-through;
  text-shadow: none !important;
  transition: color 0.0s ease;

  transition: all 0.3s ease;
}


.content-nav button {
  position: relative;
  margin: 0px;
  padding: 0 20px;
  height: 33px;

  background-color: #242438 !important;
  border: 1px solid #242438;
  border-radius: 8px 8px 0 0 !important;
  text-shadow: none !important;
  font-weight: bold;
}
.content-nav button.active {
  background-color: #303050 !important;
  border-bottom: 1px solid #303050;
}



.content-nav button::after {
  content: "";
  
  position: absolute;
  bottom: -1px;
  height: 2px;
  background: #4867b0;
  border-radius: 2000px;
  
  transform: scaleX(0);
  transition: all 0.3s ease !important;
}

.content-nav button:hover::after {
  opacity: 50%;
  
  left: 33%;
  width: 33%;
  transform: scaleX(1);
}

.content-nav button.active::after {
  opacity: 100% !important;
  
  left: 10%;
  width: 80%;
  transform: scaleX(1);
}





/* ul {
  list-style-type: disc;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  
} */


